/* START BODY | HTML STYLES */
body {
	font-family: arial, san-serif;
	background-color: #60B9CE;
	color: #38B2CE;
}

a {
	color: #FFB100;
	text-decoration: none;
}

h1, h2, h3, h4 {
	color: #000000;
}

#content_container {
	position: absolute;
	float: left;
	min-width: 70em;
}

.content {
	position: relative;
	float: left;

	margin-right: 2em;
	padding: .75em;
	
	border-color: #000000;
	border-style: solid;
	border-width: .1em;
	
	background-color: #206676;

	box-shadow: 5px 5px 15px #000000;
	
	font-size: .8em;
}

.content_results {
	position: relative;
	float: left;
	clear: left;
	
	margin-right: 2em;
	margin-top: 2em;

	padding: .75em;
	
	border-color: #000000;
	border-style: solid;
	border-width: .1em;
	
	background-color: #206676;

	box-shadow: 5px 5px 15px #000000;
	
	font-size: .8em;
}

.titles {
	position: relative;
	float: left;
	clear: left;
	
	margin-right: 2em;
	margin-top: 1em;
	margin-bottom: -2.25em;
	
	padding: .25em;
	padding-bottom: 1.25em;
		
	background-color: #206676;

	color: #FFC540;
	font-size: 1.25em;
	font-weight: bold;
}

.warning {
	position: relative;
	float: left;
	clear: left;
	
	margin-right: 2em;
	margin-top: 1em;
	margin-bottom: -2.25em;
	
	padding: .5em;
	padding-bottom: 1.25em;
		
	background-color: #206676;

	color: #FFC540;
	font-size: .75em;
	font-weight: bold;
}
/* END BODY | HTML STYLES */

/*  START GLOBAL NAVIGATION */
#nav {
	position: relative;
	float: right;
	margin-right: 2em;
	margin-top: 2em;
	
	border-color: #000000;
	border-style: solid;
	border-width: .1em;
	
	background-color: #FF5640;

	box-shadow: 5px 5px 15px #000000;
	
	font-size: .8em;
	
	z-index: 100;
}

#nav ul {
	position: relative;
	margin: 0 auto;
}

#nav li {
	list-style: none;
	
	margin: 0 auto;
	margin-left: -2em;
	
	padding: .25em;
	background-color: #206676;
}

#nav li:hover {
	background-color: #FFC540;
}

#nav li:hover a {
	color: #FF5640;
}

/* END GLOBAL NAVIGATION */

/* START FORM */
.form_field_rfloat {
	float: right;
	position: relative;
	clear: right;
	padding: .25em;
}

.label {
	color: #38B2CE;
	font-size: 1.25em;
}

.text {
	font-weight: bold;
}

.button {
	width: 5em;
}
/* END FORM */

/* START ERROR MESSAGES */
.error_message {
	position: absolute;
	float: right;
	
	margin-left: 20em;
	margin-top: -4em;
	padding: .25em;
	
	border-color: #000000;
	border-style: solid;
	border-width: .1em;
	
	background-color: #206676;

	box-shadow: 5px 5px 15px #000000;
	
	color: #FF5640;
	font-size: 1.25em;
	font-weight: bold;
}

.error_message p {
	margin: 0 0;
}
/* END ERROR MESSAGES */

/* START TABLE */
.table {
	margin: 0 0;
	padding: 0 0;
	float: right;
	position: relative;
	border-right: 5px solid #FFC540;
}

.th {
	padding: .25em;
	width: 12em;
	
	float: left;
	text-align: center;
	position: relative;
}

.td {
	padding: .25em;
	width: 12em;
	float: left;
	text-align: center;	
	position: relative;
}

.tr {
	clear: both;
	float: right;
	position: relative;
}
/* END TABLE */





.fileAssocSelect{
	width: 10em;
}
